<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Cabinet infirmier à Sévrier - {% block title %}Accueil{% endblock %}</title>

		<link rel="icon" type="image/x-icon" href="{{ asset('assets/images/logo.ico') }}">

		<link rel="stylesheet" href="{{ asset('assets/mdb/css/mdb.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/mdb/plugins/css/all.min.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"> 

		{% block stylesheets %}
		{% endblock %}

		{% block javascripts %}
		{% endblock %}

		</head>
		<body>
			<header>
				<!-- Navbar -->
				<nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
					<div class="container">
						<a class="navbar-brand" href="{{ path('homepage') }}">
							<img src="{{ asset('assets/images/logo.png') }}" alt="" width="100" class="logo-black">
							{# <img src="{{ asset('assets/images/logo_white.png') }}" alt="" width="100"class="logo-white"> #}
						</a>
						<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<i class="fas fa-bars"></i>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav me-auto">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('homepage', {'_fragment': 'presentation'}) }}">Présentation</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('homepage', {'_fragment': 'team'}) }}">Notre équipe</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('clinic') }}">Cabinet</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('covid') }}">COVID-19</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('homepage', {'_fragment': 'contact'}) }}">Contact</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<!-- Navbar -->

				<!--Section: Design Block-->
				<section>

					<div id="intro" class="bg-image bg-fixed " style="
						background-image: url('{{ asset('assets/images/lac_annecy.jpg') }}');
						height: 50vh;
					">
						<div class="mask">
							<div class="container d-flex justify-content-center align-items-center h-100">
								<div class="row align-items-center text-white">
									<div class="my-5">
										<h1>Cabinet infirmier à Sévrier</h1>
										<hr class="my-4" style="opacity: 1;"/>
										<p class="lead mb-5">
											Soins à domicile ou au cabinet
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Section: Design Block-->
			</header>

			{% block body %}{% endblock %}

			<footer
				class="text-white text-center text-lg-start" style="background-color: #78978D;">
				<!-- Grid container -->
				<div
					class="container p-4">
					<!--Grid row-->
					<div
						class="row mt-4">
						<!--Grid column-->
						<div class="col-lg-4 col-md-12 mb-4 mb-md-0">
							<h5 class="text-uppercase mb-4">Cabinet infirmier à Sévrier</h5>

							<p>
								Soins à domicile ou au cabinet
							</p>

						</div>
						<!--Grid column-->

						<!--Grid column-->
						<div class="col-lg-4 col-md-6 mb-4 mb-md-0">

							<ul class="fa-ul" style="margin-left: 1.65em;">
								<li class="mb-3">
									<span class="fa-li">
										<i class="fas fa-home"></i>
									</span>
									<span class="ms-2">400 allée des Allobroges 74320 Sévrier</span>
								</li>
								<li class="mb-3">
									<span class="fa-li">
										<i class="fas fa-envelope"></i>
									</span>
									<span class="ms-2">Sévrierinfirmiere@gmail.com</span>
								</li>
								<li class="mb-3">
									<span class="fa-li">
										<i class="fas fa-phone"></i>
									</span>
									<span class="ms-2">07 71 76 81 91</span>
								</li>
							</ul>
						</div>
						<!--Grid column-->

					</div>
					<!--Grid row-->
				</div>
				<!-- Grid container -->

				<!-- Copyright -->
				<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
					© 2023 Copyright: Fabien Perrichon
				</div>
				<!-- Copyright -->
			</footer>

			<script type="text/javascript" src="{{ asset('/assets/mdb/js/mdb.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('/assets/mdb/plugins/js/all.min.js') }}"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script src="{{ asset('/assets/parallax.js/parallax.js') }}"></script>
			<script src="{{ asset('/assets/js/main.js') }}"></script>

		</body>
	</html>
